// sidebar-items.pug

ul.nav.flex-column
  li.nav-item
    a.nav-link.active(href='/') Home
  li.nav-item
    a.nav-link(href='/foodinventory') Food Inventory
  li.nav-item
    a.nav-link(href='/menus') Menus
  li.nav-item
    a.nav-link(href='/login') Log In
