volumes: 
    postgres_data:
    postgres_data_pgdata:
    mongodb_data:
    mongodb_config:

services:
  backendapi:
    container_name: backendapi_babyorg
    image:  ghcr.io/tunsworthy/baby_organiser_backend_api:latest
    env_file:
       - .env
    depends_on:
      - postgres
      - mongodb
    networks:
      baby_org_net: null

  frontend:
    container_name: frontend_babyorg
    image: ghcr.io/tunsworthy/baby_organiser_frontend:latest
    environment:
      - TZ="Australia/Sydney"
    # env_file:
    #   - .env
    depends_on:
      - backendapi
    networks:
      baby_org_net: null
  postgres:
    container_name: postgres_babyorg
    image: postgres:latest
    env_file:
       - .env.postgres
    networks:
      baby_org_net: null
    volumes:
      - postgres_data:/var/lib/postgresql
  mongodb:
    container_name: mongodb_babyorg
    image: mongo:latest
    #image: mongodb-raspberrypi4-unofficial-r7.0.4
    # env_file:
    #   - .env
    networks:
      baby_org_net: null
    volumes:
      - mongodb_data:/data/db
      - mongodb_config:/data/configdb
  nginx:
    container_name: nginx_babyorg
    image: nginx:latest
    ports:
      - "80:80"
      - 443:443
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
    networks:
      baby_org_net:
      cloudflare_ext:
    restart: always
  # certbot:
  #   container_name: certbot
  #   image: certbot/certbot:latest
  #   depends_on:
  #     - nginx
  #   command: >-
  #            certonly --reinstall --webroot --webroot-path=/var/www/certbot
  #            --email ${EMAIL} --agree-tos --no-eff-email
  #            -d ${DOMAIN}
  #   volumes:
  #     - /home/ubuntu/pi-dockercompose/inf-services/certbot/www:/var/www/certbot/:rw
  #     - ./certbot/conf/:/etc/letsencrypt/:rw

networks:
  baby_org_net:
    name: baby_org_net
    internal: true
  cloudflare_ext:
    name: cloudflare_ext
    internal: true
