name: Build and Push Docker Image
on:
  push:
    branches:
      - main
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            FrontEnd:
              - 'Frontend/**'
            BackEnd:
              - 'Backend_API/**' 
            FrontEnd_V2:
              - 'Frontend_V2/**'
      
      - name: Set up Docker Buildx
        if: steps.filter.outputs.FrontEnd == 'true' || steps.filter.outputs.BackEnd == 'true' || steps.filter.outputs.FrontEnd_V2 == 'true'
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: steps.filter.outputs.FrontEnd == 'true' || steps.filter.outputs.BackEnd == 'true' || steps.filter.outputs.FrontEnd_V2 == 'true'
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}



      - name: Build and push Frontend Docker image
        if: steps.filter.outputs.FrontEnd == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./Frontend
          file: ./Frontend/Dockerfile
          push: true
          tags: ghcr.io/tunsworthy/baby_organiser_frontend:latest
          platforms: linux/amd64,linux/arm64/v8
     
      - name: Build and push Backend Docker image
        if: steps.filter.outputs.BackEnd == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./Backend_API
          file: ./Backend_API/Dockerfile
          push: true
          tags: ghcr.io/tunsworthy/baby_organiser_backend_api:latest
          platforms: linux/amd64,linux/arm64/v8

      - name: Build and push Frontend V2 Docker image
        if: steps.filter.outputs.FrontEnd_V2 == 'true'
        uses: docker/build-push-action@v5
        with:
          context: ./Frontend_V2
          file: ./Frontend_V2/Dockerfile
          push: true
          tags: ghcr.io/tunsworthy/baby_organiser_frontend_v2:latest
          platforms: linux/amd64,linux/arm64/v8
          no-cache: true

      - name: Trigger Deployment
        uses: peter-evans/repository-dispatch@v3
        with:
          token: ${{ secrets.DEPLOY_TOKEN }}
          repository: Tunsworthy/homeops
          event-type: deploy-container
          client-payload: '{"branch": "main", "folder": "babytracker-backend"}'